/*body {
  background-color: green;
}*/

table {
  width: 50%;
  border: 1px solid black;
}

td {
  border: 1px solid black;
  padding: 5px;
}

#table_head {
  font-weight: bold;
}

#delete_button {
  background-color: inherit;
  border: none;
  color: red;
}

#edit_link {
  color: #0000cd;
}

/*.administrative {
  display: none;
}*/

#add_book_instruction {
  color: red;
}

#prompt, #librarian_portal_header, #patron_portal_header {
  overflow:auto;
  color: white;
  background-color: black;
  padding: 20px 30px 30px 30px;
  margin-top: 10px;
}

#librarian_portal_header h1, #patron_portal_header h1 {
  font-size: 70px;
}

#prompt {
  text-align: right;
  margin-right: 20px;
}

/*#librarian_portal_header {
  display: none;
}*/

#patron_portal_header {
  float: left;
  margin-right: 20px;
}

#header {
  background-color: black;
  overflow:auto;
  margin-top: 10px;
}

#lib_button {
  background-color: inherit;
}

.button {
  background-color: silver;
  color: black;
}

.home_button {
  background-color: black;
  color: white;
}
