/*body {
  background-color: green;
}*/

table {
  width: 50%;
  border: 1px solid black;
}

td {
  border: 1px solid black;
  padding: 5px;
}

#table_head {
  font-weight: bold;
}

#delete_button {
  background-color: inherit;
  border: none;
  color: red;
}
